.articleSection{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    /*margin: 2px;*/
    margin: 0 5px 5px 0;
    width: 33%;
    height: 60vh;
    padding: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    flex-grow: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 900px) {
    .articleSection {
        width: 100%;
    }
  }

