aside{
    background: linear-gradient(slateblue, cyan);
    color: yellow;    
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
    font-style: italic;
    max-width: 30%;
    /*position:absolute;
    width: 10%;
    right: 0;
    height: 80%*/
}
@media screen and (max-width: 600px) {
    aside {
        width: 2000%;
    }
  }