
/* every button but first one have margin-top: 10px*/
/* as margin-bottom:10px does not work!*/
button.bp3-button:nth-child(n + 2){    
    margin-top: 10px;
}

/* @media screen and (max-width: 900px) {
    button.bp3-button span {
       font-size: smaller;
    }
  } */

  @media screen and (max-width: 900px) {
    button.bp3-button span.bp3-button-text {
       display: none;
    }
  }