.App {
  height: 100%; /*100% viewport height */
  margin: 0;
  width: 100%;
  /*max-width: 100%;
  /*display: flex;
  flex-flow: column;
  justify-content: start;
  overflow:auto;
   /*ie10*/
   /*display: -ms-flexbox;
   -ms-flex-direction: column;*/
}






